// Place all the styles related to the file_upload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//*= require dropzone/basic
//*= require dropzone/dropzone

.featureListItem {
  /**
     * Lay out the children of this container with
     * flexbox, which is horizontal by default.
     */
  display: flex;

  /**
     * Align the children in the center, along
     * the main axis, which is horizontal in this case.
     */
  align-items: center;

  max-width: 600px;
  padding: 10px;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.featureListItem + .featureListItem {
  border-top: 1px solid #d7dbdd;
}

.featureListItem__icon,
.featureListItem__description {
  padding: 5px 15px;
}

.featureListItem__description {
  color: #57727c;
  font-size: 12px;
}

.uploaded-image {
  border-bottom: 1px solid #eee;

  .dz-progress {
      display: block;
      height: 5px;
      .dz-upload {
          display: block;
          height: 100%;
          background: #b7e2b7;
          width: 0;
      }
  }
  .dz-error-message {
      color: red;
  }
  &.dz-complete .dz-progress {
      display: none;
  }
}