<div id="uploaded_file_container" class="featureListItem">
  <% if is_file_expired?(file)%>
    <i class="material-icons md-36">cloud_off</i>
    <div class="featureListItem__description">
      <%= file.file_name %>
    </div>
    <div class="featureListItem__description">
      保存期間が終了しました。
    </div>
  <% else %>
    <% if File.extname(file.file_name) =~ /(jpg|jpeg|png|gif)/ %>
      <%= image_tag file.file_url %>
    <% else %>
      <i class="material-icons md-36">insert_drive_file</i>
    <% end %>
    <div class="featureListItem__description">
      <%= file.file_name %>
    </div>
    <div class="featureListItem__description">
      <%= number_to_human_size(file.file_size) %>
    </div>
  <% end %>
</div>